@model ClubModel       

@{
    ViewData["Title"] = "Delete";
}

<h1>Er du sikker på at du vil slette @Model.Initials?</h1>

<h3></h3>
<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Initials)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Initials)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Postal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Postal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>

    <div class="form-group">
        <form asp-action="Delete" asp-route-id="@Model.Id">
            <input type="submit" value="Slet" class="btn btn-danger"/>
        </form>
        <form asp-action="Index">
            <button type="submit" class="btn btn-outline-secondary">Tilbage</button>
        </form>
    </div>
</div>