@model StatTrack.Models.ClubModel

@{
    ViewData["Title"] = "Detaljer";
}

<h1>Informationer om @Model.Initials</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Initials)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Initials)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Postal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Postal)
        </dd>
    </dl>
    <div class="form-group">
        @Html.ActionLink("Edit", "Edit", new { clubId = Model.Id, clubInitials = Model.Initials, clubName = Model.Name, clubAddress = Model.Address, clubCity = Model.City, clubPostal = Model.Postal }, new {@class="btn btn-outline-warning"})
    
        <form asp-action="Index">
            <button type="submit" class="btn btn-outline-secondary">Tilbage</button>
        </form>
    </div>
</div>
