@model IEnumerable<StatTrack.Models.ClubModel>

@{
    ViewData["Title"] = "Klubliste";
}

<h1>Klubliste</h1>

<form asp-action="Create">
    <button type="submit" class="btn btn-outline-primary">Opret ny klub</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Initials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Initials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.ActionLink("Rediger", "Edit", new {clubId = item.Id, clubInitials = item.Initials, clubName = item.Name, clubCity = item.City, clubPostal = item.Postal, clubAddress = item.Address }, new { @class = "btn btn-outline-warning" })
                @Html.ActionLink("Info", "Details", new { clubId = item.Id, clubInitials = item.Initials, clubName = item.Name, clubCity = item.City, clubPostal = item.Postal, clubAddress = item.Address }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Slet", "Delete", new {clubId = item.Id, clubInitials = item.Initials, clubName = item.Name, clubCity = item.City, clubPostal = item.Postal, clubAddress = item.Address}, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
