@model IEnumerable<StatTrack.Models.ClubModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Initials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Initials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {clubId = item.Id, clubInitials = item.Initials, clubName = item.Name, clubCity = item.City, clubPostal = item.Postal, clubAddress = item.Address }) |
                @Html.ActionLink("Details", "Details", new { clubId = item.Id, clubInitials = item.Initials, clubName = item.Name, clubCity = item.City, clubPostal = item.Postal, clubAddress = item.Address }) |
                @Html.ActionLink("Delete", "Delete", new {clubId = item.Id, clubInitials = item.Initials, clubName = item.Name, clubCity = item.City, clubPostal = item.Postal, clubAddress = item.Address})
            </td>
        </tr>
}
    </tbody>
</table>
