@using Microsoft.AspNetCore.Identity
@using StatTrack.Logic
@using StatTrack.Controllers
@model StatTrack.Models.CombinedMatchViewModel

@{
    DataHandler dataH = new DataHandler();
    int i = 0;

    MatchController con = new MatchController();
    List<MatchViewModel> ekstraData; 
     ViewData["Title"] = "Match";


}

<h2>Mine Kampe</h2>
@foreach (var item in Model.GameModel)
{
    <div class="accordion-item" id="MatchList_@i">
        <h2 class="accordion-header" id="acordianHeader_@i">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#colapseOn_@i" aria-controls="#colapseOn_@i">
                @dataH.getTeamName(item.CreatorTeamId) - @item.Modstander
            </button>
        </h2>
        <div id="colapseOn_@i" class="accordion-collapse collapse" aria-labelledby="createTeamHeading1" data-bs-parent="#CreateTeamAccordion">
            <div class="accordion-body">
                @{ekstraData = con.SpecificData(item.KampId);}

                @foreach (var item2 in ekstraData) 
                {
                    <p >@item2.Time  -  @item2.Navn   :   @item2.EventType</p>
                }
            </div>
        </div>
    </div>
    i++;
}


