@model StatTrack.Models.PlayerModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Er du sikker på, at du vil slette @Model.PlayerName?</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YOB)
        </dd>
    </dl>
    <div class="form-group">
        <form asp-action="Delete" asp-route-id="@Model.Id">
            <input type="submit" value="Slet" class="btn btn-outline-danger" />
        </form>
        <form asp-action="Index">
            <button type="submit" class="btn btn-outline-secondary">Tilbage</button>
        </form>
    </div>
</div>
