@model StatTrack.Models.PlayerModel

@{
    ViewData["Title"] = "Details";
}

<h1>Informationer om @Model.PlayerName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerPosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YOB)
        </dd>
    </dl>
    <div>
        @Html.ActionLink("Edit", "Edit", new { playerId = Model.Id, playerName = Model.PlayerName, playerPosition = Model.PlayerPosition, YOB = Model.YOB }, new { @class="btn btn-outline-warning"})
        <form asp-action="Index">
            <button type="submit" class="btn btn-outline-secondary">Tilbage</button>
        </form>
    </div>
</div>
