@model IEnumerable<StatTrack.Models.PlayerModel>

@{
    ViewData["Title"] = "Spillerliste";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YOB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YOB)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { playerId = item.Id, playerName = item.PlayerName, playerPosition = item.PlayerPosition, YOB = item.YOB }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new {playerId = item.Id, playerName = item.PlayerName, playerPosition = item.PlayerPosition, YOB = item.YOB })
            </td>
        </tr>
}
    </tbody>
</table>
