@using Microsoft.AspNetCore.Identity
@using StatTrack.Logic
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    DataHandler dataH = new DataHandler();
    var clubs = dataH.getClubs();
    List<string> dataLeagues = dataH.GetLeagues();
    List<string> dataYears = dataH.getYears();
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="row justify-content-md-center">
                <div class="input-group mb-3">
                    <span class="input-group-text">Vælg Klub</span>
                    <select class="form-select" aria-label="Default select example">
                        @foreach(ClubModel club in clubs) { 
                            <option value="1" aria-describedby="@club.Name">@club.Initials</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="input-group mb-3">
                    <span class="input-group-text">Vælg Årgang</span>
                    <select class="form-select" aria-label="Default select example">
                        @foreach(string year in dataYears)
                            {
                                <option value="@year">@year</option>
                            }
                    </select>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="input-group mb-3">
                    <span class="input-group-text">Vælg Række</span>
                    <select class="form-select" aria-label="Default select example">
                        @foreach (string league in dataLeagues)
                            {
                                <option value="@league">@league</option>
                            }
                    </select>
                </div>
            </div>
        </div>
    </div>
    // Indtast navn
    // Vælg klub
        // Hvis klub ikke findes, så (optional) Opret klub
    // Vælg Årgang
    // Vælg Række
    // Indtast mængde af spillere
    // Indtast spillerData:
        // Indtast Navn
        // Indtast Fødsels år
        // Indtast Position
}